.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
}

.login::before {
  display: block;
  content: "";
  background: url(../../Assets/login.jpg) no-repeat center center;
  background-size: cover;
}

.forms {
  max-width: 30rem;
  padding: 2rem;
}
